#notification {
    position: absolute;

    width: calc(max(200px, 25%) - 2rem);
    height: fit-content;

    right: calc(-1 * max(200px, 25%));

    overflow: auto;

    margin: 1rem;
    box-sizing: border-box;

    transition: right 0.3s cubic-bezier(0.39, 0.73, 0.57, 0.97);
    z-index: 100;

    border-radius: 8px;

    display: flex;
    flex-flow: column;
}

#notification[type="0"] { background-color: #87cb87; }
#notification[type="1"] { background-color: #ff7d7d; }
#notification[type="2"] { background-color: #eded4a; }
#notification[type="3"] { background-color: #aef3f3; }

#notification.open {
    right: 0px;
}

#notification span {
    display: flex;
    position: relative;

    justify-content: center;
    align-items: center;

    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
}

#notification .notification-title {
    flex-shrink: 0;
    height: 20%;

    border-bottom: 1px solid #000000ad;

    font-weight: bold;
    font-size: x-large;
}

#notification .notification-message {
    height: 100%;
}