@import url(vars.css);
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

:root {
    --star-size: 60px;
}

html,
body {
    margin: 0;
    user-select: none;
}

body {
    position: fixed;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: column;

    font-family: 'Mukta', sans-serif;
}

body::before {
    content: "";
    position: fixed;

    width: 100vw;
    height: 100vh;

    background-position: center;
    background-size: contain;
    background-image: url(/img/background.jpg), linear-gradient(#ecbca7, #462e23);
    background-blend-mode: luminosity;
    opacity: 0.9;
}

#content {
    width: 100%;
    height: 100%;

    position: relative;

    overflow-x: hidden;
    overflow-y: auto;
}

.screen {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column;

    overflow: auto;
}

.screen.hidden {
    display: none;
}

*:not(#enter) > h3 {
    height: var(--header-height);
    margin: var(--header-margin) 0;
}

.screen > h3 {
    width: 100%;
    display: flex;
    justify-content: center;

    font-size: 2.5rem;

    padding: 0 1rem;
    box-sizing: border-box;
}

@media (pointer: coarse) and (min-height: 830px) and (min-width: 550px) {
    #content[mode="1"] *:not(#enter).screen > h3,
    #content[mode="2"] *:not(#enter).screen > h3,
    #content[mode="3"] *:not(#enter).screen > h3 {
        margin-left: calc(2 * var(--header-margin) + var(--header-height));
        width: calc(100% - (2 * var(--header-margin) + var(--header-height)));
    }
}

@media (pointer: coarse) and ((max-height: 830px) or (max-width: 550px)) {
    #content[mode="1"] *:not(#enter).screen > h3,
    #content[mode="2"] *:not(#enter).screen > h3,
    #content[mode="3"] *:not(#enter).screen > h3 {
        margin-left: calc(2 * var(--header--mobile-margin) + var(--header-height));
        width: calc(100% - (2 * var(--header--mobile-margin) + var(--header-height)));
    }
}

.screen h5 {
    width: 100%;
    display: flex;
    justify-content: center;

    font-size: 1.75rem;
}

#question-id::before {
    content: "";
    margin-left: 0.5rem;
}

#main {
    position: relative;
}

#main-content {
    width: 85%;
    gap: 2rem;

    position: relative;
    margin: 0 auto;
}

#final-content {
    width: 85%;
    gap: 1.5rem;

    margin: 0 auto;
}

@media screen and (pointer: fine) and (min-width: 1000px) {
    #main-content {
        top: 0px;
        width: calc(100% - (var(--header-desired-height) + 2 * var(--header-echo-margin)));
        height: fit-content;
        
        margin-left: calc(var(--header-desired-height) + 2 * var(--header-echo-margin));
        margin-top: auto;
        margin-bottom: auto;
    }
}

@media screen and (((pointer: fine) and (max-width: 999px)) or ((pointer: coarse) and (min-height: 830px) and (min-width: 550px))) {
    #main-content {
        top: calc(var(--header-margin) * 2 + var(--header-height));
        height: calc(100% - (var(--header-margin) * 2 + var(--header-height)));
    }
}

@media screen and (pointer: coarse) and ((max-height: 830px) or (max-width: 550px)) {
    #main-content {
        top: calc(var(--header-mobile-margin) * 2 + var(--header-height));
        height: calc(100% - (var(--header-mobile-margin) * 2 + var(--header-height)));
    }
}

.centered {
    box-sizing: border-box;

    width: fit-content;
    height: fit-content;

    margin: auto;
    display: flex;

    flex-flow: column;
    align-items: center;
}

#prompt,
#final-form {
    width: 100%;

    display: flex;
    flex-flow: row;

    gap: 1rem;
}

#prompt input,
#final-form input {
    font-size: 2rem;
}

#prompt input[type="submit"],
#result input[type="submit"],
#final-form input[type="submit"] {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    width: var(--header-height);
    padding: 10px;
    border: none;
    flex-shrink: 0;
    border-radius: 8px;
    background-color: transparent;
    cursor: default;
    box-sizing: content-box;

    transition: background 0.3s ease;
}

#prompt input[type="submit"]:hover,
#final-form input[type="submit"]:hover,
#result input[type="submit"]:hover {
    cursor: pointer;
    background-color: #d9a586;
}

#prompt input[type="submit"][mode="advance"],
#result input[type="submit"][mode="advance"],
#final-form input[type="submit"][mode="advance"] {
    background-image: url(/img/advance.png);
}
#prompt input[type="submit"][mode="repeat"],
#result input[type="submit"][mode="repeat"],
#final-form input[type="submit"][mode="repeat"] {
    background-image: url(/img/repeat.png);
}

#prompt-text,
#final-text {
    width: 100%;
    padding: 0.8rem;

    box-sizing: border-box;
}

.end-screen {
    position: absolute;

    top: -100%;
    left: 0;

    background-color: transparent;

    transition: top 0.3s ease;
}

.end-screen.open {
    top: 0;
}

#result {
    z-index: 10;
}

#final-form {
    z-index: 11;
}

#end {
    z-index: 12;
}

#result-content,
#end-content {
    width: fit-content;
    gap: 1rem;
}

#stars {
    /* height: 5rem; */
    width: 100%;

    display: grid;

    grid-template-areas: ". star0 . star1 . star2 .";
    grid-template-columns: 1fr var(--star-size) 45px var(--star-size) 45px var(--star-size) 1fr;
    grid-template-rows: calc(var(--star-size) * 1.5);
}

#stars .star {
    width: var(--star-size);
    height: var(--star-size);

    background-image: url(/img/icons8-star-60.png);
}

#stars .star.failed {
    background-image: url(/img/icons8-star-60_failed.png);
}

#stars .star[star-id="0"] { grid-area: star0; }
#stars .star[star-id="1"] { grid-area: star1; }
#stars .star[star-id="2"] { grid-area: star2; }

#stars .star[star-id="0"],
#stars .star[star-id="2"] {
    align-self: self-end;
}

#stars .star[star-id="1"] {
    align-self: self-start;
}

#result-content span,
#end-content span {
    font-size: 2rem;
}

#points,
#end-points {
    color: grey;
    font-family: 'Courier New', Courier, monospace;
}

#message,
#end-message,
#query,
#final-message {
    font-size: 1.5rem;
}

#continue {
    display: flex;
    flex-flow: row;

    gap: 2rem;
    margin-top: 1.5rem;
}

#continue input {
    font-size: 1.5rem;
    padding: 0.5rem;
}

#replay {
    margin-top: 1.5rem;
}

#replay input {
    font-size: 1.5rem;
    padding: 0.5rem;
}

input[type="submit"]:hover {
    cursor: pointer;
}

@media screen and (max-width: 680px) {
    #prompt {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        justify-items: center;
    }

    #prompt input[type="text"] {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row: 1;
    }

    #prompt input[type="submit"] {
        background-color: #c3c3c359;
    }

    #prompt input[type="submit"][mode="advance"] {
        grid-column: 1;
        grid-row: 2;
    }
    #prompt input[type="submit"][mode="repeat"] {
        grid-column: 2;
        grid-row: 2;
    }
}

#infobar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 20;

    width: 100%;
    
    transition: height 0.3s ease;

    overflow-x: auto;
    overflow-y: hidden;

    flex-shrink: 0;

    display: grid;

    align-items: center;
    justify-items: center;

    column-gap: 1rem;

    font-size: 1.25rem;
    border-bottom: 1px solid grey;

    background-color: white;
}

@media (pointer: fine) {
    #infobar {
        height: 80px;

        grid-template-areas: "open-button stars time points" "chapters chapters chapters chapters";
        grid-template-rows: 80px 80px;
        grid-template-columns: 80px 1fr auto auto;
    }

    #infobar.open {
        height: 160px;
    }
}

@media (pointer: coarse) {
    #infobar {
        height: 60px;

        grid-template-areas: "open-button time points" "stars stars stars" "chapters chapters chapters";
        grid-template-rows: 60px 80px 80px;
        grid-template-columns: 60px 1fr auto;
    }

    #infobar.open {
        height: 220px;
    }
}

#total-points {
    grid-area: points;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    height: 100%;

    border-left: 1px solid grey;

    white-space: nowrap;
}

#infobar #total-score::before {
    content: "";
    margin-left: 0.5rem;
}

#infobar #total-score {
    color: grey;
    font-family: 'Courier New', Courier, monospace;
}

#infobar-collapse {
    grid-area: open-button;
    width: 100%;
    height: 100%;
    background: url(/img/icons8-table-of-content-48.png) center no-repeat;
    background-size: 60%;

    transition: background-size 0.3s ease;
    border-right: 1px solid grey;
}

#infobar-collapse:hover {
    cursor: pointer;
    background-size: 80%;
}

#chapters {
    grid-area: chapters;
    width: 100%;
    height: 100%;

    padding: 0.5rem;
    margin: 0;

    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
    border-top: 1px solid grey;

    display: flex;
    flex-flow: row;
    gap: 1rem;

    list-style: none;
    align-items: center;
}

#chapters > li {
    padding: 0.25rem 0.75rem;
    border-radius: 8px;
    border: 1px solid lightgrey;
    box-shadow: 0px 0px 15px 5px #dbdbdb52;

    display: flex;
    gap: 0.5rem;
    flex-flow: row;

    background: white;
    transition: background 0.3s ease;

    align-items: center;
    justify-content: center;

    white-space: nowrap;
}

#chapters > li[chapter-type="1"] {
    box-shadow: 0px 0px 15px -5px #ffe00096
}

#chapters > li:hover {
    cursor: pointer;
    background: #e5e5e5;
}

#chapters > li.current {
    background: #83ebfb30;
}

#chapters > li::before {
    display: inline;
    content: "Kapitel " attr(chapter-id);
    color: grey;
    white-space: nowrap;
}

#chapters > li::after {
    content: "";

    width: 30px;
    height: 30px;

    background-image: url(/img/icons8-unchecked-50.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#chapters > li[done="true"]::after {
    background-image: url(/img/icons8-checked-48.png);
}

#time {
    grid-area: time;
    font-family: "Lucida Console", monospace;
}

#time[critical] {
    color: red;
}

#bottom {
    margin: 0.25rem;
    position: absolute;

    z-index: 100;
    color: #696969bd;

    bottom: 0;
    left: 0;

    padding: 0 0.5rem;
    font-size: 0.8rem;
}

#bottom a {
    color: inherit;
}

@media (pointer: coarse) and ((max-height: 830px) or (max-width: 550px)) {
    *:not(#enter) h3 {
        margin: var(--header-mobile-margin) 0;
    }
}

@media (pointer: coarse) {
    .centered {
        padding: 0;
    }

    h5 {
        margin: 0;
    }

    p {
        margin: 0;
    }
}

#enter-commit {
    font-size: 1.5rem;
    padding: 0.75rem;
}

#total-stars {
    grid-area: stars;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 2rem;
    padding: 0 1rem;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
}

@media (pointer: coarse) {
    #total-stars {
        border-top: 1px solid grey;
    }
}

#total-stars .star-score {
    width: fit-content;
    height: 100%;

    display: flex;
    align-items: center;
}

#total-stars .star-score > .star-score-element {
    width: 60px;
    height: 60px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#total-stars .star-score > .star-score-element[reached="false"] { background-image: url(/img/icons8-star-60_failed.png); }
#total-stars .star-score > .star-score-element[reached="true"] { background-image: url(/img/icons8-star-60.png); }

#solution-hint {
    font-size: 2rem;
    font-style: bold;
    font-family: "Lucida Console", monospace;
    letter-spacing: 1rem;
}

#final-content span {
    font-size: 1.5rem;
}