:root {
    --header-desired-height: 350px;
    --header-desired-height-mobile: 100px;
    --header-echo-margin: 1rem;

    --header-height: 66px;
    --header-margin: calc((var(--header-desired-height) - var(--header-height)) / 2 + var(--header-echo-margin));
    --header-mobile-margin: calc((var(--header-desired-height-mobile) - var(--header-height)) / 2 + var(--header-echo-margin));
}