@import url(vars.css);

#echo {
    position: absolute;
    z-index: 9999;

    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    transition: all 0.5s ease;

    margin: auto;

    max-height: 90%;
    max-width: 90%;
}

#echo.hidden {
    transform: scale(0);
}

#content[mode] #echo {
    box-shadow: 0px 0px 10px 4px #93939340;
}

#content[mode="1"] #echo,  /* riddle mode */
#content[mode="2"] #echo,  /* result mode */
#content[mode="3"] #echo { /* done mode */
    margin: var(--header-echo-margin);
    max-height: var(--header-desired-height);
}

@media (pointer: coarse) and ((max-height: 830px) or (max-width: 550px)) {
    #echo {
        top: 5%;
        bottom: unset;
    }

    #content[mode="1"] #echo,  /* riddle mode */
    #content[mode="2"] #echo,  /* result mode */
    #content[mode="3"] #echo { /* done mode */
        top: 0px;

        max-height: var(--header-desired-height-mobile);
    }
}